* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #eef2ff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
}
.note-box-wrapper {
  padding: 20px;
}
.wrapper {
  display: flex;
  gap: 20px;
}
.create-note {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fafaf9;
}
.new-note {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  padding: 10px;
  background-color: #fafaf9;
}
.new-note-header {
  margin-bottom: 20px;
}
.new-note-content {
  height: 100px;
  color: #6b7280;
  margin-bottom: 10px;
}
.new-note-footer {
  border-top: 1px solid #52525b;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.note-date {
  font-size: 12px;
  color: #52525b;
}
.note-options {
  cursor: pointer;
  color: #52525b;
  transition: 0.4s;
  position: relative;
}

.options-box {
  border: 1px solid #d4d4d8;
  background-color: #fafaf9;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 0;
  gap: 5px;
  padding: 10px;
  transition: 0.4s;
  display: none;
}
.options-box-show {
  display: flex;
}
.options-box:hover {
  background-color: #e3e3df;
}
.add-note-create-btn {
  font-size: 30px;
  cursor: pointer;
  transition: 0.4s;
}
.add-note-create-btn:hover {
  transform: scale(1.1);
}
.box-create-note {
  width: 300px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -1000px);
  transition: 0.4s;
}
.show-box-create-note {
  transform: translate(-50%, -30px);
}
.box-create-note__wrapper {
  padding: 10px;
}
.box-create-note__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1f2937;
  padding-bottom: 10px;
}
.box-create-note__title h3 {
  color: #1f2937;
}
.close-create-note-box__btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #b91c1c;
  transition: 0.4s;
}
.close-create-note-box__btn:hover {
  color: #991b1b;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px 0;
}

label {
  display: block;
  margin-bottom: 8px;
}
#input,
#desc {
  outline: none;
  font-size: 16px;
  padding: 5px;
  width: 100%;
  border: 1px solid #334155;
  border-radius: 6px;
}
#desc {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.add-note-btn {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #16a34a;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.add-note-btn:hover {
  background-color: #166534;
}
.alert-box {
  background-color: #f87171;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  border-radius: 4px;
  font-size: 20px;
  color: #7f1d1d;
  padding: 10px;
  gap: 20px;
  position: fixed;
  top: 20px;
  left: 43%;
  flex-direction: column;
  transition: 0.6s;
  transform: translateY(-1000px);
}
.show-alert-box {
  transform: translateY(0);
}
.alert-box h4 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.close-alert-btn {
  cursor: pointer;
  transition: 0.4;
}
.close-alert-btn:hover {
  transform: scale(1.2);
}
